// Fonts
$primary-font: "Changa", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$kanit-font: "Kanit", sans-serif;
$poppins-font: "Poppins", sans-serif;

// Colors
$primary-color: #e51515;
$secondary-color: #003e90;
$bg-color: #14151a;
$date-color: #ffb320;
$comment-color: #08abbd;
$gray-color: #e7e7e7;
$light-color: #fefefe;
$general-transition: all 0.5s;
